$sButtonMiddle: 36px;
$sButtonBig: 130px;

$sHeader:48px;

$sCardMinWidth: 350px;
$sCardMiddleWidth: 500px;
$sCardBigWidth: 700px;

$sMarginMiddle: 10px;
$sMarginDownButton: 100px;

$sChatMinHeight: 400px;
$sChatInputsHeight: 80px;

$sGroupInputsHeight: 70px;

$zIndexHeader:100;
$zIndexChat:10;
$zIndexDownButton:5;

