<div>
<p>Подключится к чату</p>

<form 
[formGroup] = connectToChatForm 
(ngSubmit) = "connectToChat()">

    <mat-form-field>
        <mat-label>Название чата</mat-label>
        <input matInput placeholder="Cool chat"  formControlName="chatName">
        <mat-error *ngIf="connectToChatForm.get('chatName').errors">
            от 3 символов, только такие
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Ваш ник</mat-label>
        <input matInput placeholder="Nick" formControlName="nick">
        <mat-error *ngIf="connectToChatForm.get('nick').errors">
            от 3 символов, только такие
        </mat-error>
    </mat-form-field>


    <mat-checkbox type="checkbox" formControlName="rememberMe" labelPosition = "before">Запомнить меня</mat-checkbox>

    <button type="submit" 
        mat-raised-button
        color="accent"
        [disabled]=
            "connectToChatForm.invalid || 
            !connectToChatForm.get('nick').touched ||
            !connectToChatForm.get('chatName').touched"
        value="Подключится">
        GO!
    </button>
</form>


<ng-container *ngIf="privateChat">

    <form 
    [formGroup] = inputPasswordForm
    (ngSubmit) = "checkPassword()">
        <mat-form-field>
            <mat-label>Введите пароль от чата</mat-label>
            <input  matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password">
            <mat-error *ngIf="inputPasswordForm.invalid">
                от 3 символов, только такие
            </mat-error>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>   
        <button type="submit" 
        mat-raised-button
        color="accent"
        [disabled]=
            "inputPasswordForm.invalid || 
            !inputPasswordForm.get('password').touched"
        >Подключится</button>
    </form> 
</ng-container>
</div>