<p>Подключится к чату</p>

<form 
[formGroup] = connectToChatForm 
(ngSubmit) = "connectToChat()">

    <label>Введите ид чата</label>
    <input type="text" formControlName="chatName">
    <small *ngIf="connectToChatForm.get('chatName').errors && connectToChatForm.get('chatName').touched">
        от 3 символов, только такие
    </small>

    <label>Введите ник</label>
    <input type="text" formControlName="nick">
    <small *ngIf="connectToChatForm.get('nick').errors && connectToChatForm.get('nick').touched">
        от 3 символов, только такие
    </small>

    <input type="submit" 
        [disabled]=
            "connectToChatForm.invalid || 
            !connectToChatForm.get('nick').touched ||
            !connectToChatForm.get('chatName').touched"
        value="Подключится">
</form>


<ng-container *ngIf="privateChat">

    <form 
    [formGroup] = inputPasswordForm
    (ngSubmit) = "checkPassword()">
        
        <label>Введите пароль от чата</label>
        <input type="password" formControlName="password">
        <small *ngIf="inputPasswordForm.invalid && inputPasswordForm.get('password').touched">
            от 3 символов, только такие
        </small>

        <input type="submit" 
        [disabled]=
            "inputPasswordForm.invalid || 
            !inputPasswordForm.get('password').touched"
        value="Подключится">
    </form> 
</ng-container>
