@import "../../../assets/styles/sizes";

.card{
    width: $sCardMiddleWidth;
    width: $sCardMiddleWidth;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -$sCardMiddleWidth/2;
    margin-top: -$sCardMiddleWidth/2; 
    box-sizing: border-box; 
}