@import "../../../assets/styles/colors.scss";

.card{
    width: 500px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -250px; 
    box-sizing: border-box; 
}

.group-inputs{
    &--space-between{
        display: flex;
        justify-content: space-between;
        &:nth-child(odd){
            height: 70px;
        }
    }
}

.error-text{
    color: $cError;
}
.success-text{
    color: $cSuccess;
}