@import "../assets/styles/colors.scss";
@import "../assets//styles//sizes";

.header{
    border-radius: 0%;
    position:fixed;
    z-index: $zIndexHeader;
    width: 100%;
    background-color: $cMainLite;
}

.expansion-content-box{
    height: 100vh;
    width: 100%;
    .main-content{
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        height: $sCardMinWidth;
        width: $sCardMiddleWidth;
        margin-top: - $sCardMinWidth/2 + $sHeader;
        margin-left: - $sCardMiddleWidth/2;
        button{
            margin: 0px $sMarginMiddle;
            width: $sButtonBig;
        }
    }
}

.header-margin{
    height: $sHeader;
}

span{
    color: $cLite;
    font-size: large;
    -webkit-animation: fadein 1s;
    animation: fadein 1s;
}

