<h2>Search Chat</h2>

<form 
[formGroup] = searchForm
(ngSubmit)="startSearch()">

    <label>Введите название чата</label>
    <input type="text" formControlName="groupName">

    <label>Исключить приватные</label>
    <input type="checkbox" formControlName="onlyPublic">

    <label>Сортировать по</label>
    <select formControlName = "order">
        <option value="name">Имя</option>
        <option value="date">Дате создания</option>
        <option value="user-count">Кол-во пользователей</option>
        <option value="activity">Активность</option>
    </select>

    <label>по возрастанию</label>
    <input type="checkbox"  formControlName="orderAsc">


    <input type="submit" value="поиск">
</form>

<ng-container *ngFor="let chatGroup of chatGroups">
    <a [routerLink]="[ '/connect']" [queryParams]="{cg: chatGroup.Name}"> {{chatGroup.Name}}</a> 
</ng-container>

