<mat-card class="card">   
    <mat-card-title>Создать свой чат</mat-card-title>
    <mat-vertical-stepper [linear]="true" #stepper >

        <mat-step [stepControl]="inputChatOptions" label="Данные чата">

            <form
            [formGroup] = inputChatOptions
            (ngSubmit) = "checkNickThenCreateAndConnect()"
            >
                <div class="group-inputs--space-between">
                    <mat-form-field>
                        <mat-label>Ваш ник</mat-label>
                        <input matInput placeholder="Nick" formControlName="nick">
                        <mat-error 
                            *ngIf="inputChatOptions.get('nick').errors"
                        > Можно 3-30 шт. латинских букв или цифр и некоторые символы
                        </mat-error>
                    </mat-form-field>

                    <mat-checkbox 
                        formControlName="rememberMe" 
                        labelPosition = "before"
                    >Запомнить меня</mat-checkbox>
                </div>
                
                
                <div class="group-inputs--space-between">

                    <mat-form-field>
                        <mat-label>Название чата</mat-label>
                        <input matInput placeholder="CoolChat" formControlName="chatName">

                        <mat-error 
                            *ngIf="inputChatOptions.get('chatName').errors"   
                        > Можно 3-30 шт. букв или цифр и некоторые символы
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>

                        <mat-label>Пароль</mat-label>
                        <input 
                            matInput 
                            [type]="hide ? 'text' : 'password'" 
                            placeholder="Password" 
                            formControlName="password"
                        >
                        <mat-hint 
                            *ngIf="!inputChatOptions.get('password').errors" align="start"
                        >Можно не указывать - чат будет открытый</mat-hint>

                        <mat-error 
                            *ngIf="inputChatOptions.get('password').errors "
                        >Можно 3-30 шт. букв или цифр и некоторые символы
                        </mat-error>

                        <button 
                            mat-icon-button 
                            matSuffix 
                            (click)="hide = !hide" 
                            [attr.aria-label]="'Hide password'" 
                            [attr.aria-pressed]="hide"
                        ><mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        </button>

                    </mat-form-field>   
                </div>

                <button type="submit" 
                mat-raised-button
                matStepperNext
                color="accent"
                [disabled]="inputChatOptions.invalid" 
                >Создать и подключится</button>
                
            </form> 
        </mat-step>

        <mat-step label="Подключение" #checkStep>
            
            <div class="content--center">
                <mat-spinner *ngIf="!createError"></mat-spinner>
            </div>

            <ng-container *ngIf="createError" showErrorText>
                    <p class="text--error">{{createErrorText}}</p>
                    <button
                    mat-raised-button
                    matStepperPrevious
                    (click)="backToStep()"
                    >Назад</button>
            </ng-container>
        </mat-step>

    </mat-vertical-stepper>
</mat-card>