
@import "./assets/styles/colors.scss";
@import "./assets/styles/sizes";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.group-inputs{
    &--space-between{
        display: flex;
        justify-content: space-between;
        height: $sGroupInputsHeight;
    }
}

.content{
    &--center{
        display: flex;
        justify-content: center;
        margin-top: $sMarginMiddle;
    }
    &--right{
        display: flex;
        justify-content: flex-end;
        margin-top: $sMarginMiddle;
    }
}

.text {
    &--error{
        color: $cError;
    }
    &--success{
        color: $cSuccess;
    }
}

.button{
    &--middle{
        height: $sButtonMiddle;
    }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; } 
    }   

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; } 
  }
  
.snackBar{
    text-align: center;
    font-size: medium;
    &--error{
        @extend .snackBar;
        background-color: $cError;
        color: $cLite;
    }
}

mat-card.chat-message{

    &--service{
        background-color:$cNeutral;
    }
    &--error{
        background-color:$cError;
    }
    &--all{
        max-width: 80%;
        background-color: $cMainLite;
    }
    &--your{
        max-width: 80%;
        background-color: $cMainLite;
    }
    
}