
@import "./assets/styles/colors.scss";
@import "./assets/styles/sizes";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




.group-inputs{
    &--space-between{
        display: flex;
        justify-content: space-between;
        height: 70px;
    }
}

.content{
    &--center{
        display: flex;
        justify-content: center;
        margin-top: 10px
    }
    &--right{
        display: flex;
        justify-content: flex-end;
        margin-top: 10px
    }
}

.text {
    &--error{
        color: $cError;
    }
    &--success{
        color: $cSuccess;
    }
}
.error-text{
    color: $cError;
}
.success-text{
    color: $cSuccess;
}

.button{
    &--middle{
        height: $sMiddleButton;
    }
}