<h2>CHAT</h2>
<small>Ссылка для подключения: {{thisChatUrl}}</small>

<ng-container *ngFor="let chatMessage of chatMessages">
    <p>{{chatMessage.nick}} - {{chatMessage.text}}</p>
</ng-container>

<form
[formGroup] = inputMessageForm
(ngSubmit)="onPush()">

    <textarea formControlName="textMessage"></textarea>
    <input type="submit" [disabled]="inputMessageForm.invalid" value="Отправить">
    <small *ngIf="inputMessageForm.invalid && inputMessageForm.get('textMessage').touched">Непустой текст до {{maxChatTextLength}}</small>
</form>



