@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/sizes";

.card{
    width: $sCardMiddleWidth;
    position: relative;
    z-index: $zIndexChat;
    left: 50%;
    margin-left: -$sCardMiddleWidth/2;
    margin-top: $sMarginMiddle;
    box-sizing: border-box; 
}

.chat{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: $sChatMinHeight;
    justify-content: flex-end;
    .messages-box{
        width: 100%;
        flex-direction: column;
        &__message{
            display: flex;
            width: 100%;
            margin-top: $sMarginMiddle;
            margin-bottom: $sMarginMiddle;
            &--your{
                @extend .messages-box__message;
                justify-content: flex-end;
            }
            &--service{
                @extend .messages-box__message;
                justify-content: center;
            }
            &--all{
                @extend .messages-box__message;
                justify-content: flex-start;
            }
        }
    }
    form{
        display: flex;
        justify-content: space-between;
        mat-form-field{
            width: 70%;
            textarea{
                resize: none;
                height: $sChatInputsHeight;
            }
        }
    }
}

.down-button{
    display: none;
    position: fixed;
    top: 100%;
    margin-top: -$sMarginDownButton;
    left: 2%;
    z-index: $zIndexDownButton;
    animation: fadein 0.5s;
}